body {
  background: url("../images/bg.png");
  color: #eee;
  font-family: "Open Sans",Arial;
  font-size: 16px;
  text-align: center;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
  margin: 0px !important;
  padding: 0px !important;
}
a {
  text-decoration: none;
}
p {
  margin: 1px !important;
}
#wrapper a:link {
  color: #3dff51;
}
#wrapper a:visited {
  color: #3dfed3;
}
#wrapper a:active {
  color: #3dfed3;
}
#wrapper a:hover {
  color: #3dfed3;
}
article h1 {
  margin: 40px 10px 0px 0px;
  text-align: center;
}
article h1 a {
  color: white;
}
#overlay-container {
  margin-top: 72px;
}
#head-regions {
  background-color: #1c1c1c;
  border-top: 0.5em solid #9c6;
  display: inline-block;
  width: 100%;
}
#header {
  background-color: #1c1c1c;
  float: left;
  padding: 25px 0px 10px 0px;
  width: 60%;
}
#header h1 {
  font-size: 3em;
  text-shadow: rgba(0,0,0,0.1) 2px 2px 5px;
}
#header h2 {
  color: #9c6;
  text-shadow: rgba(0,0,0,0.1) 2px 2px 5px;
}
#site-name {
  margin: 0px;
}
#site-name a {
  color: white;
}
#site-slogan {
  margin: 0px;
}
#menu article {
  margin-bottom: 10px;
}
#menu-cont {
  background-color: #1c1c1c;
  float: right;
  font-size: 20px;
  padding: 2% 0em;
  width: 40%;
}
#main-menu {
  margin: 0;
  padding: 0;
}
.menu-block {
  margin: 0 auto;
  max-width: 60em;
  position: relative;
}
#div-menu-link {
  display: none;
  padding-left: 15px;
}
#menu-link {
  -moz-background-size: 1.563em 1.25em;
  -moz-border-radius: 0.188em;
  -o-background-size: 1.563em 1.25em;
  -webkit-background-size: 1.563em 1.25em;
  -webkit-border-radius: 0.188em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /*background-size*/
  /*border-radius*/
  background: center center no-repeat rgba(255,255,255,0.1) url("../images/nav-icon.svg");
  background-size: 1.563em 1.25em;
  border-radius: 0.188em;
  display: block;
  height: 2.25em;
  position: absolute;
  width: 2.625em;
}
.menu {
  text-align: center !important;
}
.menu .active {
  background-color: #991;
}
.menu li:hover {
  border-color: #ffa500 !important;
}
.menu li {
  border-color: white;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  margin: 2px !important;
}
.menu li a {
  padding: 0.429em 0.857em;
}
.menu li a {
  color: white;
  display: block;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1.286em;
  outline: none;
}
.menu ul {
  list-style: none;
}
#outer-cont-body {
  overflow: hidden;
  position: relative;
  width: 100%;
}
#cont-body {
  -moz-backface-visibility: hidden;
  -moz-transition: all 700ms ease;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -o-transition: all 700ms ease;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 700ms ease;
  /*backface-visibility*/
  /*transition*/
  backface-visibility: hidden;
  position: relative;
  transition: all 700ms ease;
}
#wrapper {
  margin: 10px 1px 2px 1px;
}
#content-base {
  -moz-border-radius: 0.5em;
  -moz-box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
  -webkit-border-radius: 0.5em;
  -webkit-box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
  /*border-radius*/
  /*box-shadow*/
  background: rgba(0,0,0,0.9);
  border-radius: 0.5em;
  box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
  margin: 0 2% 0.5em 1em;
  padding: 1em;
  text-align: center;
  text-shadow: rgba(0,0,0,0.75) 2px 2px 5px;
  width: 68%;
}
#sidebar {
  -moz-border-radius: 0.5em;
  -moz-box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
  -webkit-border-radius: 0.5em;
  -webkit-box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
  /*border-radius*/
  /*box-shadow*/
  background: rgba(0,0,0,0.9);
  border-radius: 0.5em;
  box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
  padding: 1em;
  text-shadow: rgba(0,0,0,0.75) 2px 2px 5px;
  vertical-align: top;
  width: 22%;
}
#sidebar,
#content-base {
  display: inline-block;
}
.dev-query {
  background-color: white;
  color: #3e01db;
}
.js-offcanvas body {
  overflow-x: hidden;
}
.author {
  display: inline-block;
  text-align: right;
  width: 98%;
}
.author .user-picture {
  float: right;
  margin-left: 10px;
}
.author .user-picture img {
  width: 40px;
}
.author span {
  float: right;
  padding-top: 10px;
  width: 100%;
}
.author span .username {
  color: #fff542;
  padding-top: 0px;
}
.content {
  border-color: white;
  border-style: solid;
  border-width: 1px;
  padding: 7px;
  text-align: justify;
}
.field-type-taxonomy-term-reference {
  text-align: right;
}
.field-type-image {
  float: left;
  padding: 12px;
}
.ul.primary li {
  display: block;
  margin: 10px;
}
.tabs li a {
  background-color: black;
  text-shadow: rgba(0,0,0,0) 2px 2px 5px;
}
.item-list ul li {
  margin: 0;
}
.comment {
  margin-bottom: 20px;
}
.comment-preview {
  background-color: black;
}
.search-results,
.node-results {
  margin: 0px !important;
}
.indented {
  margin-left: 0px;
}
.item-list {
  margin-top: 20px;
}
#wrapper h1 a:visited {
  color: white;
}
#wrapper h1 a:link {
  color: white;
}
ul.primary {
  white-space: normal;
}
ul.primary li a:hover {
  background-color: black;
}
ul.primary li a {
  background-color: black;
}
ul.primary li.active a {
  background-color: black;
  border: 4px solid white;
}
/* search box*/
#header .region-header {
  padding: 3px 0em;
  width: 100%;
}
#block-search-form {
  width: 100%;
}
/*form*/
input {
  font-size: 18px;
  width: 60%;
}
input[type="search"] {
  font-size: 18px;
  width: 40%;
}
input[type="text"] {
  font-size: 18px;
}
input[type="checkbox"] {
  font-size: 18px;
  width: 25px;
}
input[type="submit"] {
  height: 45px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 180px;
}
textarea {
  font-size: 18px;
}
#footer {
  background-color: white;
  color: black;
  margin: 15px 0px 0px 0px !important;
}
#sidebar_first .block {
  border-color: #9c6;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 15px;
  padding: 10px;
}
