@media screen and (max-width: 1050px) {
  #content-base {
    width: 90%;
  }

  #sidebar {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .block-fblikebutton iframe {
    float: right;
    position: fixed;
    right: 0;
    top: 0;
  }

  #header {
    width: 100%;
  }

  #div-menu-link {
    display: block;
  }

  #menu-cont {
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /*backface-visibility*/
    backface-visibility: hidden;
    background: #99cc55;
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    height: 100%;
    left: -200px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 200px;
  }

  #menu-cont .menu-block {
    padding: 5.25em 0 0 0;
  }

  #menu-cont li {
    background-color: black;
    border-style: none;
    border-width: 0px;
    color: white;
    margin: 2px 0px !important;
    margin: 2px 0px;
    width: 100%;
  }

  #content-base {
    margin: 0px;
    width: 90%;
  }

  #sidebar {
    margin-top: 15px;
    width: 80%;
  }

  #header h1 {
    font-size: 2.0em;
  }

  #header h2 {
    font-size: 1.1em;
  }

  #block-search-form input[type="text"] {
    width: 90%;
  }

  #menu-cont li a {
    padding: 0.857em 1.429em;
  }

  /* actions - menu */

  .js-openMenu #menu-cont {
    -moz-transform: translate3d(-200px, 0, 0);
    -ms-transform: translate3d(-200px, 0, 0);
    -o-transform: translate3d(-200px, 0, 0);
    -webkit-transform: translate3d(-200px, 0, 0);
    /* fin*/;
    left: 0;
    transform: translate3d(-200px, 0, 0);
  }

  .js-openMenu #cont-body {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    /* fin*/;
    /*transform*/
    left: 200px;
    transform: translate3d(0, 0, 0);
  }

  .js-openMenu .block-fblikebutton  iframe {
    float: center;
    position: relative;
    right: none;
    top: none;
  }
}
