/* facebook comments */

.fb_iframe_widget {
  padding: 1%;
  width: 100% !important;
}

.fb_iframe_widget span {
  background-color: white;
  width: 100% !important;
}

.fb_iframe_widget span iframe {
  background-color: white;
  width: 100% !important;
}

/* f like */

#fb-root {
  display: none;
}

.block-fblikebutton iframe {
  height: 61px !important;
  width: 46px !important;
}

#block-fblikebutton-fblikebutton-static-block {
  border: none !important;
}

/* Others */

.block h3 {
  color: orange;
}

.block h4 {
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
}
