.views-table {
  border-style: solid;
  border-width: 1px;
  color: white;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.views-table a {
  text-decoration: none;
}
.views-table td {
  background-color: black;
  border-color: whitesmoke;
  border-style: solid;
  border-width: 1px;
  padding: 1%;
  padding: 28px;
}
.views-table tbody {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}
.views-table tbody tr {
  border-style: solid;
  border-width: 1px;
  margin: 0;
}
.views-table thead tr {
  background-color: orangered;
}

.views-table th {
  color: white;
  font-size: 20px;
  padding-right: 0;
  text-align: center;
}
